.container {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: blueviolet;
  width: 100px;
  height: 5px;
  border: 3px solid black;
  border-radius: 10px;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.75, 2, 0.65, 1); */
  transition: all 2s;
}
.box:hover {
  margin-left: 190px;
  width: 250px;
  background-color: gold;
}
.box2{
  background-color: blueviolet;
  width: 200px;
  height: 100px;
  border: 3px solid black;
  border-radius: 10px;
  transition: all 4s;
  /* transition:margin-top 4s, background-color 2s; */
}
.box2:hover{
    margin-top: 40px;
    height: 150px;
    width: 400px;
    background-color: chartreuse;
    /* transform: translate(450px, 100px);
    transform: scale(2, 3);
    transform: rotate(360deg);
    transform: skew(20deg); */
     transform: matrix(1, -0.3, 0, 1, 0, 0);
}
